/* Mobile */
@media screen and (max-width: 360px) {
    .menu-wrap {
        position: fixed;
        height: 50px;
        width: 50px;
        top: 0;
        left: 0;
        z-index: 1;
        margin: 0;
    }
    .showcase:before {
        content: '';
        background: url(img/tech_abstract_flow.jpg) no-repeat center center/cover;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 103vw;
        height: 100%;
        z-index: -1;
    }
    .showcase {
        background-color: var(--primary-color);
        color: #fff;
        height: 100vh;
        width: 103vw;
        position: relative;
    }
    .showcase-inner {
        padding: 10%;
        width: 100%;
    }

    /* Services */
    .services-container {
        position: absolute;
        padding: 0%;
        width: 103vw;
        height: 50%;
    }
         
    .services-grid {
        position: relative;
        padding: 0%;
        height: 10%;
        width: 100%;
        
    }
    .services-grid > .services-h1 {
        position: relative;
        text-align: center;
    }
    
    /* Images */
    .image {
        height: 70%;
        width: 100%;
    }
    
    
    .img__overlay {
        position: absolute;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        height: 20%;
        width: 50%;
        color: #fff;
        z-index: 1;
        top:0%;
        opacity: 0;
        transition: opacity 0.25s;
    }
    
    .img__overlay:hover {
        opacity: 1;
    }
    
    
    .img__title {
        font-size: 1.1rem;
        font-weight: bold;
    }
    
    
    .img__description {
        font-size: 0.4rem;
        margin-top: 0.25rem;
    }
}